<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.vrg.common.model.dao.GoodsMapper">
	<resultMap id="BaseResultMap" type="com.lee.vrg.common.model.Goods">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="goods_type" property="goodsType" jdbcType="BIGINT" />
		<result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR" />
		<result column="logo" property="logo" jdbcType="VARCHAR" />
		<result column="location_id" property="locationId" jdbcType="BIGINT" />
		<result column="creater_id" property="createrId" jdbcType="BIGINT" />
		<result column="owner_id" property="ownerId" jdbcType="BIGINT" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, name, goods_type, goods_desc, logo, location_id, creater_id,
		owner_id, gmt_create,
		gmt_modify
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.lee.vrg.common.model.GoodsExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from goods
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from goods
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from goods
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.lee.vrg.common.model.GoodsExample">
		delete from goods
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.lee.vrg.common.model.Goods">
		insert into goods (id, name, goods_type,
		goods_desc, logo, location_id,
		creater_id, owner_id, gmt_create,
		gmt_modify)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{goodsType,jdbcType=BIGINT},
		#{goodsDesc,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{locationId,jdbcType=BIGINT},
		#{createrId,jdbcType=BIGINT}, #{ownerId,jdbcType=BIGINT},
		#{gmtCreate,jdbcType=TIMESTAMP},
		#{gmtModify,jdbcType=TIMESTAMP})
		<selectKey resultType="java.lang.Long" keyProperty="id"></selectKey>
	</insert>
	<insert id="insertSelective" parameterType="com.lee.vrg.common.model.Goods">
		insert into goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="goodsType != null">
				goods_type,
			</if>
			<if test="goodsDesc != null">
				goods_desc,
			</if>
			<if test="logo != null">
				logo,
			</if>
			<if test="locationId != null">
				location_id,
			</if>
			<if test="createrId != null">
				creater_id,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModify != null">
				gmt_modify,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="goodsType != null">
				#{goodsType,jdbcType=BIGINT},
			</if>
			<if test="goodsDesc != null">
				#{goodsDesc,jdbcType=VARCHAR},
			</if>
			<if test="logo != null">
				#{logo,jdbcType=VARCHAR},
			</if>
			<if test="locationId != null">
				#{locationId,jdbcType=BIGINT},
			</if>
			<if test="createrId != null">
				#{createrId,jdbcType=BIGINT},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=BIGINT},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModify != null">
				#{gmtModify,jdbcType=TIMESTAMP},
			</if>
		</trim>
		<selectKey resultType="java.lang.Long" keyProperty="id"></selectKey>
	</insert>
	<select id="countByExample" parameterType="com.lee.vrg.common.model.GoodsExample"
		resultType="java.lang.Integer">
		select count(*) from goods
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update goods
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.goodsType != null">
				goods_type = #{record.goodsType,jdbcType=BIGINT},
			</if>
			<if test="record.goodsDesc != null">
				goods_desc = #{record.goodsDesc,jdbcType=VARCHAR},
			</if>
			<if test="record.logo != null">
				logo = #{record.logo,jdbcType=VARCHAR},
			</if>
			<if test="record.locationId != null">
				location_id = #{record.locationId,jdbcType=BIGINT},
			</if>
			<if test="record.createrId != null">
				creater_id = #{record.createrId,jdbcType=BIGINT},
			</if>
			<if test="record.ownerId != null">
				owner_id = #{record.ownerId,jdbcType=BIGINT},
			</if>
			<if test="record.gmtCreate != null">
				gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.gmtModify != null">
				gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update goods
		set id = #{record.id,jdbcType=BIGINT},
		name = #{record.name,jdbcType=VARCHAR},
		goods_type = #{record.goodsType,jdbcType=BIGINT},
		goods_desc = #{record.goodsDesc,jdbcType=VARCHAR},
		logo = #{record.logo,jdbcType=VARCHAR},
		location_id = #{record.locationId,jdbcType=BIGINT},
		creater_id = #{record.createrId,jdbcType=BIGINT},
		owner_id = #{record.ownerId,jdbcType=BIGINT},
		gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
		gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.lee.vrg.common.model.Goods">
		update goods
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="goodsType != null">
				goods_type = #{goodsType,jdbcType=BIGINT},
			</if>
			<if test="goodsDesc != null">
				goods_desc = #{goodsDesc,jdbcType=VARCHAR},
			</if>
			<if test="logo != null">
				logo = #{logo,jdbcType=VARCHAR},
			</if>
			<if test="locationId != null">
				location_id = #{locationId,jdbcType=BIGINT},
			</if>
			<if test="createrId != null">
				creater_id = #{createrId,jdbcType=BIGINT},
			</if>
			<if test="ownerId != null">
				owner_id = #{ownerId,jdbcType=BIGINT},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModify != null">
				gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lee.vrg.common.model.Goods">
		update goods
		set name = #{name,jdbcType=VARCHAR},
		goods_type = #{goodsType,jdbcType=BIGINT},
		goods_desc = #{goodsDesc,jdbcType=VARCHAR},
		logo = #{logo,jdbcType=VARCHAR},
		location_id = #{locationId,jdbcType=BIGINT},
		creater_id = #{createrId,jdbcType=BIGINT},
		owner_id = #{ownerId,jdbcType=BIGINT},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>