<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.vrg.common.model.dao.LocationMapper">
	<resultMap id="BaseResultMap" type="com.lee.vrg.common.model.Location">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="location_desc" property="locationDesc"
			jdbcType="VARCHAR" />
		<result column="logo" property="logo" jdbcType="VARCHAR" />
		<result column="x" property="x" jdbcType="VARCHAR" />
		<result column="y" property="y" jdbcType="VARCHAR" />
		<result column="location_type" property="locationType"
			jdbcType="BIGINT" />
		<result column="day_hot" property="dayHot" jdbcType="INTEGER" />
		<result column="week_hot" property="weekHot" jdbcType="INTEGER" />
		<result column="month_hot" property="monthHot" jdbcType="INTEGER" />
		<result column="year_hot" property="yearHot" jdbcType="INTEGER" />
		<result column="creater_id" property="createrId" jdbcType="BIGINT" />
		<result column="owner_id" property="ownerId" jdbcType="BIGINT" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, name, location_desc, logo, x, y, location_type, day_hot, week_hot,
		month_hot,
		year_hot, creater_id, owner_id, gmt_create, gmt_modify
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.lee.vrg.common.model.LocationExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from location
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from location
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from location
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.lee.vrg.common.model.LocationExample">
		delete from location
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.lee.vrg.common.model.Location">
		insert into location (id, name, location_desc,
		logo, x, y, location_type,
		day_hot, week_hot, month_hot,
		year_hot, creater_id, owner_id,
		gmt_create, gmt_modify)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{locationDesc,jdbcType=VARCHAR},
		#{logo,jdbcType=VARCHAR}, #{x,jdbcType=VARCHAR}, #{y,jdbcType=VARCHAR},
		#{locationType,jdbcType=BIGINT},
		#{dayHot,jdbcType=INTEGER}, #{weekHot,jdbcType=INTEGER}, #{monthHot,jdbcType=INTEGER},
		#{yearHot,jdbcType=INTEGER}, #{createrId,jdbcType=BIGINT},
		#{ownerId,jdbcType=BIGINT},
		#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
		<selectKey resultType="java.lang.Long" keyProperty="id"></selectKey>
	</insert>
	<insert id="insertSelective" parameterType="com.lee.vrg.common.model.Location">
		insert into location
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="locationDesc != null">
				location_desc,
			</if>
			<if test="logo != null">
				logo,
			</if>
			<if test="x != null">
				x,
			</if>
			<if test="y != null">
				y,
			</if>
			<if test="locationType != null">
				location_type,
			</if>
			<if test="dayHot != null">
				day_hot,
			</if>
			<if test="weekHot != null">
				week_hot,
			</if>
			<if test="monthHot != null">
				month_hot,
			</if>
			<if test="yearHot != null">
				year_hot,
			</if>
			<if test="createrId != null">
				creater_id,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModify != null">
				gmt_modify,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="locationDesc != null">
				#{locationDesc,jdbcType=VARCHAR},
			</if>
			<if test="logo != null">
				#{logo,jdbcType=VARCHAR},
			</if>
			<if test="x != null">
				#{x,jdbcType=VARCHAR},
			</if>
			<if test="y != null">
				#{y,jdbcType=VARCHAR},
			</if>
			<if test="locationType != null">
				#{locationType,jdbcType=BIGINT},
			</if>
			<if test="dayHot != null">
				#{dayHot,jdbcType=INTEGER},
			</if>
			<if test="weekHot != null">
				#{weekHot,jdbcType=INTEGER},
			</if>
			<if test="monthHot != null">
				#{monthHot,jdbcType=INTEGER},
			</if>
			<if test="yearHot != null">
				#{yearHot,jdbcType=INTEGER},
			</if>
			<if test="createrId != null">
				#{createrId,jdbcType=BIGINT},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=BIGINT},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModify != null">
				#{gmtModify,jdbcType=TIMESTAMP},
			</if>
		</trim>
		<selectKey resultType="java.lang.Long" keyProperty="id"></selectKey>
	</insert>
	<select id="countByExample" parameterType="com.lee.vrg.common.model.LocationExample"
		resultType="java.lang.Integer">
		select count(*) from location
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update location
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.locationDesc != null">
				location_desc = #{record.locationDesc,jdbcType=VARCHAR},
			</if>
			<if test="record.logo != null">
				logo = #{record.logo,jdbcType=VARCHAR},
			</if>
			<if test="record.x != null">
				x = #{record.x,jdbcType=VARCHAR},
			</if>
			<if test="record.y != null">
				y = #{record.y,jdbcType=VARCHAR},
			</if>
			<if test="record.locationType != null">
				location_type = #{record.locationType,jdbcType=BIGINT},
			</if>
			<if test="record.dayHot != null">
				day_hot = #{record.dayHot,jdbcType=INTEGER},
			</if>
			<if test="record.weekHot != null">
				week_hot = #{record.weekHot,jdbcType=INTEGER},
			</if>
			<if test="record.monthHot != null">
				month_hot = #{record.monthHot,jdbcType=INTEGER},
			</if>
			<if test="record.yearHot != null">
				year_hot = #{record.yearHot,jdbcType=INTEGER},
			</if>
			<if test="record.createrId != null">
				creater_id = #{record.createrId,jdbcType=BIGINT},
			</if>
			<if test="record.ownerId != null">
				owner_id = #{record.ownerId,jdbcType=BIGINT},
			</if>
			<if test="record.gmtCreate != null">
				gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.gmtModify != null">
				gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update location
		set id = #{record.id,jdbcType=BIGINT},
		name = #{record.name,jdbcType=VARCHAR},
		location_desc = #{record.locationDesc,jdbcType=VARCHAR},
		logo = #{record.logo,jdbcType=VARCHAR},
		x = #{record.x,jdbcType=VARCHAR},
		y = #{record.y,jdbcType=VARCHAR},
		location_type = #{record.locationType,jdbcType=BIGINT},
		day_hot = #{record.dayHot,jdbcType=INTEGER},
		week_hot = #{record.weekHot,jdbcType=INTEGER},
		month_hot = #{record.monthHot,jdbcType=INTEGER},
		year_hot = #{record.yearHot,jdbcType=INTEGER},
		creater_id = #{record.createrId,jdbcType=BIGINT},
		owner_id = #{record.ownerId,jdbcType=BIGINT},
		gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
		gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.lee.vrg.common.model.Location">
		update location
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="locationDesc != null">
				location_desc = #{locationDesc,jdbcType=VARCHAR},
			</if>
			<if test="logo != null">
				logo = #{logo,jdbcType=VARCHAR},
			</if>
			<if test="x != null">
				x = #{x,jdbcType=VARCHAR},
			</if>
			<if test="y != null">
				y = #{y,jdbcType=VARCHAR},
			</if>
			<if test="locationType != null">
				location_type = #{locationType,jdbcType=BIGINT},
			</if>
			<if test="dayHot != null">
				day_hot = #{dayHot,jdbcType=INTEGER},
			</if>
			<if test="weekHot != null">
				week_hot = #{weekHot,jdbcType=INTEGER},
			</if>
			<if test="monthHot != null">
				month_hot = #{monthHot,jdbcType=INTEGER},
			</if>
			<if test="yearHot != null">
				year_hot = #{yearHot,jdbcType=INTEGER},
			</if>
			<if test="createrId != null">
				creater_id = #{createrId,jdbcType=BIGINT},
			</if>
			<if test="ownerId != null">
				owner_id = #{ownerId,jdbcType=BIGINT},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModify != null">
				gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lee.vrg.common.model.Location">
		update location
		set name = #{name,jdbcType=VARCHAR},
		location_desc = #{locationDesc,jdbcType=VARCHAR},
		logo = #{logo,jdbcType=VARCHAR},
		x = #{x,jdbcType=VARCHAR},
		y = #{y,jdbcType=VARCHAR},
		location_type = #{locationType,jdbcType=BIGINT},
		day_hot = #{dayHot,jdbcType=INTEGER},
		week_hot = #{weekHot,jdbcType=INTEGER},
		month_hot = #{monthHot,jdbcType=INTEGER},
		year_hot = #{yearHot,jdbcType=INTEGER},
		creater_id = #{createrId,jdbcType=BIGINT},
		owner_id = #{ownerId,jdbcType=BIGINT},
		gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
		gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>