<!DOCTYPE html>
<!-- saved from url=(0025)http://192.168.1.37:8090/ -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Spark Jobserver UI</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/index.css" rel="stylesheet">

<script src="/resources/script/jquery.min.js"></script>
<script src="/resources/script/bootstrap.min.js"></script>
</head>
<body>
	<div class="page-header">
		<h1>spark job 管理</h1>
	</div>
	<ul class="nav nav-tabs nav-justified" id="navTabs">
		<li class=""><a href="/spark_job/jobs" >所有的可运行任务</a></li>
		<li class=""><a href="/spark_job/running_jobs">运行中的任务</a></li>
		<li class=""><a href="/spark_job/finish_jobs">运行完成的任务</a></li>
		<li class=""><a href="/spark_job/time_jobs" >所有的定时任务</a></li>
		<li class="active"><a href="/spark_job/hdfs_jars">hdfs jar 管理</a></li>
		<li class=""><a href="/spark_job/system_config">系统相关管理</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="spark_class">
			<div class="panel panel-info">



				<div class="panel-heading">spark 使用到的jar</div>
				
				<div class="panel-body">
				
				<form id="jarFrom" role="form" action="/spark_job/hdfs_jars_add" method="post" enctype="multipart/form-data">
						<input type="file" id="inputfile" name="inputfile">
						<button id="jar_submit_button" type="submit" class="btn btn-default" >上传</button>
					</form>
				
				
					<table class="table table-striped" id="runningJobsTable">
						<thead>
							<tr>
								<th>jar name</th>
								<th>jar path</th>
								<th>大小</th>
								<th>modify time</th>
							</tr>
						</thead>
						<tbody>
						#foreach($jar in ${jars})
						  <tr>
						  <td>$jar.name</td>
						  <td>$jar.path</td>
						   <td>$jar.size</td>
						  <td>$jar.modify</td>
						  </tr>
						#end
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
	<script>
	
	</script>
</body>
</html>